<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="account">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
      <td mat-cell *matCellDef="let row">{{row.account}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="clicks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Clicks</th>
      <td mat-cell *matCellDef="let row">{{row.clicks}}</td>
    </ng-container>

    <ng-container matColumnDef="impr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Impr.</th>
      <td mat-cell *matCellDef="let row">{{row.impr}}</td>
    </ng-container>

    <ng-container matColumnDef="ctr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CTR</th>
      <td mat-cell *matCellDef="let row">{{row.ctr}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20, 50]">
  </mat-paginator>
</div>
