.text-center {
    flex: 1 1 auto;
    text-align: center;
}

.oap-login {
    margin-top: 1rem;
}

mat-card{
    width: 350px;
    height: 200px;
    display: block;
    margin-top: 10%;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
}