<mat-card class="my-card">
    <h1 class="text-center">OAP Login</h1>
    <mat-card-content>
      <form class="my-form">
          <mat-card-actions class="oap-login text-center">
              <a mat-raised-button href="http://localhost:8000/oauth2/login" color="primary">Login with Google+</a>
            </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>