.basic-container {
    padding: 0 0 400px 0;
  
    .menu-bar {
      min-height: auto;
  
      .mat-toolbar-row {
        height: auto;
      }

      .mat-button[disabled][disabled] {
        color: rgba(255, 255, 255, 0.48);
      }
    }
  }
  .version-info {
    font-size: 8pt;
    float: right;
    padding: 8px;
  }
  