<div class="basic-container">
    <mat-toolbar color="primary" class="menu-bar mat-elevation-z1">
      <span>OAP</span>
      <span *ngFor="let item of navItems">
        <!-- Handle branch node buttons here -->
        <span *ngIf="item.children && item.children.length > 0">
          <button mat-button [matMenuTriggerFor]="menu.childMenu"
          [disabled]="item.disabled">
            {{item.displayName}}
          </button>
          <app-menu-item #menu [items]="item.children"></app-menu-item>
        </span>
        <!-- Leaf node buttons here -->
        <span *ngIf="!item.children || item.children.length === 0">
          <button mat-button color="primary" [routerLink]="item.route">
            {{item.displayName}}
          </button>
        </span>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
  <span class="version-info">Current build: {{version.full ? version.full : version}}</span>
  