<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
    Failed to load account data. Refresh to try again.
    </div>
  </div>

  <div class="mat-elevation-z8 data-table">
    <input type="text"
  ngxDaterangepickerMd
  [(ngModel)]="selected"
  [showCustomRangeLabel]="true"
  [alwaysShowCalendars]="true"
  [ranges]="ranges"
  [linkedCalendars]="true"
  [isInvalidDate] = "isInvalidDate"
  [showClearButton]="true"
  class="text-right" />

    <table mat-table [dataSource]="data" class="example-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
      <!-- Number Column -->
      <ng-container matColumnDef="accountid">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.accountid}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef>account</th>
        <td mat-cell *matCellDef="let row">{{row.account}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="clicks">
        <th mat-header-cell *matHeaderCellDef>clicks</th>
        <td mat-cell *matCellDef="let row">{{row.clicks}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="impr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          impr
        </th>
        <td mat-cell *matCellDef="let row">{{row.impr}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator #paginator
      [length]="resultsLength"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20, 50]">
  </mat-paginator>
</div>